
* {
   
 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
img {
    max-width: 100%;
}

.FlexContainer {

    display: flex;
    border: 1px solid lightblue;
    width: fit-content;
    gap: 5px;
    padding: 12px;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
}

.slot {
    width: 120px;
    height: 120px;
    padding: 12px;
    border: 1px solid lightgray;
    justify-content: center;
    align-items: center;
}
.road{
   width:1225px;
   border: 1px solid;
   height: 150px;
   background-color: black; 
   margin: 1px auto;
} 

.occupied {
background-color: #ff0000;
color:black;
}

.unoccupied {
background-color: #00ff00;
color: #000000;
}
.line {
border: 1px solid lightgray;
height: 5px;
background-color: white;
margin-top: 10px;


}

.line1 {
border: 1px solid lightgray;
height: 15px;
height: 5px;
background-color: white;
margin-top: 50px;
}

.line2 {
border: 1px solid lightgray;
height: 5px;
background-color: white;
margin-top: 50px;


}
h1 {

text-align: center;
background-color: blue;
padding: 10px;
}
.contenttable {
margin-top: 50px;
border: 10px solid green;
margin-left: 50px;
padding: 20px;
color: blue;
width: fit-content;
margin:10px auto;

}
